	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO I AM </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>ABOUT ME</h2>
                        <p></p>
                            <p>Matt, living and working in Leeds. Love CHESS, CROSSFIT and ANGULAR JS. Currently building amazing applications at William Hill.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img box-text">
                        <img src="images/office.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal data</h2>
                        <p>Date of birth: 11/10/1986</p>
                        <p>E-mail: matt@webb.digital</p>
                        <h2>Education</h2>
                        <p>Business Economics</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>By day I am a Systems Integrator for William Hill. Working on cutting edge web and mobile technologies.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->